/**
* @see https://csshtml.work/table-scroll/
*/

#data_panel {
    overflow: auto;
    width: 98%;
    height: 800px;
}

.ticket_id,.line_id,.ticket_added_time,.ticket_added_user,
.ticket_modified_time,.ticket_modified_user,
.line_added_time,.line_added_user,.line_modified_time,
.line_modified_user {
    display: none;
}

#list-head th {
    position: sticky;
    left: 0;
    top: 0;
    color: white;
}

th.ticket,th.line {
    background-color: blue;
}

th.history {
    background-color: green;
}

tr.unselected-tr {
    background-color: white;
}

tr.unselected-tr td.unselected-td {
    white-space: nowrap;
}

tr.unselected-tr td.no-history {
    background-color: red;
}

tr.selected-tr td.unselected-td {
    background-color: yellow;
    white-space: nowrap;
}

tr.selected-tr td.selected-td {
    background-color: orange;
    white-space: nowrap;
}
